* { box-sizing: border-box; }

body { margin: 0; padding: 0; }

html { font-family: "Lato", sans-serif; color: #fff; }

@keyframes pulse { to { box-shadow: 0 0 0 20px rgba(232, 76, 61, 0); } }

@keyframes fade { from { opacity: 0.4; }
  to { opacity: 1; } }

.red--color { color: #ed145b; }

.red--border, .text__title::after, .main .slogan__header::after { content: ""; border: 1px solid #ed145b; width: 30%; display: block; margin: 20px auto; }

.separator { position: relative; overflow: hidden; padding-bottom: 50px; width: 100%; }

.separator::before { content: ""; position: absolute; bottom: 100%; left: 0; width: 100%; height: 100%; background: #ed145b; transform-origin: 100% 100%; transform: rotate(-1deg); }

.button { margin: 40px 0; padding: 16px 42px; background: #ed145b; color: #fff; border: none; border-radius: 25px; font-weight: bold; text-transform: uppercase; box-shadow: 0 0 0 0 #ed145b; animation: pulse 2.25s infinite cubic-bezier(0.66, 0, 0, 1); }

.button:hover { cursor: pointer; animation: none; }

.button:focus { outline: 0; }

.button--gray { background: #f4f4f4; color: #5a5a5a; }

.button--white { background: #fff; color: #ed145b; }

.text__content { color: #5a5a5a; font-weight: 300; line-height: 1.8; }

.red__subtitle { color: #ed145b; text-transform: uppercase; font-weight: 400; }

.text__title { color: #5a5a5a; margin: 0; font-size: 2.4rem; font-weight: 300; font-style: italic; }

.display__flex--center { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.container { max-width: 1170px; margin: 0 auto; padding: 5vh 20px; }

.flex-center { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.section-slogan__wrapper { display: -ms-flexbox; display: flex; max-width: 700px; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; text-align: center; margin: 40px auto; }

.mt--0 { margin-top: 0; }

.main { height: 800px; background: url("../images/main.jpg") no-repeat center; background-size: cover; position: relative; }

.main .main__header { max-width: 1170px; -ms-flex-pack: justify; justify-content: space-between; margin: 0 auto; padding: 0 15px; }

.main .header__logo { font-family: "Montserrat", sans-serif; font-size: 18px; font-weight: bold; }

.main .main__nav { max-width: 400px; font-weight: 700; letter-spacing: 1px; }

.main .nav__list { list-style-type: none; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; padding: 0; }

.main .nav__link { color: inherit; text-decoration: none; margin: 0 5px; transition: 0.6s; }

.main .nav__link:hover { color: #ed145b; cursor: pointer; }

.main .slogan__wrapper { -ms-flex-direction: column; flex-direction: column; width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px; text-align: center; }

.main .slogan__header { font-size: 2.87rem; text-transform: uppercase; letter-spacing: 1px; font-weight: 100; }

.main .slogan__header .slogan__header--bold { font-weight: 900; }

.main .slogan__header::after { margin-bottom: 0; }

.main .slogan__text { font-size: 1.35rem; font-weight: 300; margin: 5px; }

.about { min-height: 650px; background: #f4f4f4; }

.about .about__wrapper { display: -ms-flexbox; display: flex; }

.about .about__wrapper .about__content .about__title--after:after { width: 45%; margin-left: 0; }

.about .about__wrapper .about__content .about__icon { width: 30px; height: 30px; margin-left: 10px; padding: 5px 5px 5px 9px; text-align: center; border: 1px solid; background: inherit; border-radius: 50%; vertical-align: middle; }

.about .about__wrapper .about__content .about__icon:hover, .about .about__wrapper .about__content .about__icon :focus { cursor: pointer; outline: none; }

.about .about__wrapper .laptop__wrapper { max-width: 60%; }

.services .services__title--after:after { width: 100%; }

.services-icons__wrapper { display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 40px; padding: 20px 0; }

.services-icons__wrapper .wrapper__element .element__content { width: 130px; height: 130px; border: 1px solid #5a5a5a; border-radius: 50%; text-transform: uppercase; }

.quotes { background: url("../images/quotes.jpg") no-repeat center; background-size: cover; position: relative; }

.quotes .quotes__wrapper { width: 80%; min-height: 450px; margin: auto; text-align: center; animation-name: fade; animation-duration: 2.5s; }

.quotes .quotes__wrapper .quotes--text { color: #fff; font-size: 1.35rem; font-style: italic; line-height: 40px; position: relative; }

.quotes .quotes__wrapper .quotes--text::before, .quotes .quotes__wrapper .quotes--text::after { content: ",,"; display: inherit; color: #ed145b; font-family: "Noto Serif", serif; font-size: 9rem; font-weight: bold; }

.quotes .quotes__wrapper .quotes--text::before { transform: rotate(180deg); }

.quotes .quotes__icon { position: absolute; font-size: 40px; }

.quotes .quotes__icon:hover { cursor: pointer; color: #ed145b; transition: 0.6s; }

.quotes .quotes__icon--right { top: 50%; right: 14%; }

.quotes .quotes__icon--left { top: 47%; left: 14%; }

.prices { background: #f4f4f4; }

.prices .prices__title--after:after { width: 70%; }

.prices-columns__wrapper { display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 20px 0 40px; padding: 20px 0; }

.wrapper__column { max-height: 467px; width: 262px; background: #fff; text-align: center; margin-bottom: 50px; box-shadow: 0 20px 35px 0 #5a5a5a; }

.wrapper__column:hover, .wrapper__column:active { cursor: pointer; transform: scale(1.05); transition: 0.1s; }

.wrapper__column:hover .column__header, .wrapper__column:active .column__header { background: #ed145b; transition: 0.6s; }

.column-header__button { width: 75%; position: absolute; top: 55%; animation: none; }

.column__header { min-height: 150px; -ms-flex-align: start; align-items: flex-start; background: #5a5a5a; position: relative; font-weight: 700; }

.column__header .column__header--big { font-size: 3.1rem; }

.margin--top { margin-top: 40px; }

.column-content__button { width: 75%; margin-top: 20px; animation: none; }

.column-content__button:hover { background: #5a5a5a; transition: 0.6s; }

.info .info__wrapper { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-line-pack: center; align-content: center; margin: 40px 0; }

.info .info-wrapper__element { display: -ms-flexbox; display: flex; max-width: 355px; margin: 30px 10px 30px; }

.info .info-element__content { padding: 0 20px; font-size: 15px; }

.join-us { background: #ed145b; }

.join-us .join-us__wrapper { display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; text-align: center; }

.join-us .join-us__wrapper .join-us__slogan { font-size: 2.37rem; text-transform: uppercase; font-weight: 300; }

.join-us .join-us__wrapper .join-us__button { margin: 0; width: 180px; box-shadow: 0 0 0 0 #f4f4f4; }

.news .news__title--after:after { width: 70%; }

.news .news-gallery__wrapper { display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 20px 0; }

.news .news-gallery__box { max-width: 360px; color: #5a5a5a; background: #f4f4f4; font-size: 0.95rem; margin-bottom: 40px; box-shadow: 0 20px 35px 0 #5a5a5a; }

.news .box-image__wrapper { min-height: 250px; background-size: cover; position: relative; overflow: hidden; }

.news .box-image__wrapper .box-image__layer { width: 100%; height: 100%; position: absolute; top: 100%; background: #ed145b; font-size: 40px; transform-origin: 120% 0; transform: rotate(1deg); }

.news .box-image__wrapper .box-image__layer .layer__icon { color: #fff; text-decoration: none; transition: 0.8s; }

.news .box-image__wrapper .box-image__layer .layer__icon:hover { color: #111; }

.news .box-image__wrapper:hover .box-image__layer, .news .box-image__wrapper:active .box-image__layer { top: 0; transform: none; transition: 1.5s; }

.news .bg--first { background: url("../images/photo-1.jpg") no-repeat center; }

.news .bg--second { background: url("../images/photo-2.jpg") no-repeat center; }

.news .bg--third { background: url("../images/photo-3.jpg") no-repeat center; }

.news .bg--fourth { background: url("../images/photo-4.jpg") no-repeat center; }

.news .bg--fifth { background: url("../images/photo-5.jpg") no-repeat center; }

.news .bg--sixth { background: url("../images/photo-6.jpg") no-repeat center; }

.news .box__content { padding: 20px; }

.news .box__content .text__content--big { text-transform: uppercase; font-weight: 700; line-height: initial; }

.news .news__footer { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; margin-top: 40px; font-weight: 700; }

.news .news__footer .footer__icon { transform: rotate(90deg); padding: 5px; font-size: 24px; text-decoration: none; }

.more { background: url("../images/main.jpg") no-repeat; background-size: cover; }

.more .more__title--after:after { width: 45%; }

.more .white--color { color: #fff; }

.download { position: relative; }

.download .download__wrapper { -ms-flex-pack: end; justify-content: flex-end; min-height: 750px; }

.download .download-image__wrapper { position: absolute; left: 5%; top: 10%; border-radius: 5px; }

.download .download__image { vertical-align: middle; box-shadow: 0 20px 35px 0 #5a5a5a; }

.download .download__content { max-width: 570px; padding: 20px; color: #5a5a5a; }

.download .download__content .download__title--after:after { width: 40%; margin-left: 0; }

.footer { background: #2b2b2b; }

.footer .footer__content { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; }

.footer .footer__content .footer__text { text-transform: uppercase; }

.footer .footer__content .footer__text--bold { font-weight: 700; }

@media (max-width: 767px) { html { font-size: 14px; }
  .flex-center { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .section-slogan__wrapper { margin: 20px auto; }
  .text__title { font-size: 1.7rem; }
  .text__content { line-height: 1.4; }
  .button { padding: 14px 30px; }
  .main { height: 100vh; }
  .main .main__header { padding: 20px; }
  .main .main__header .main__mobile { z-index: 2; }
  .main .main__header .main__mobile .mobile__icon-1, .main .main__header .main__mobile .mobile__icon-2, .main .main__header .main__mobile .mobile__icon-3 { width: 35px; height: 4px; background-color: #fff; margin: 6px 0; transition: 0.4s; }
  .main .main__header .main__nav { position: absolute; }
  .main .main__header .main__nav .nav__list { display: block; margin: 0; padding: 0; }
  .main .main__header .main__nav .nav__list .nav__link { display: none; }
  .main .main__header .change .mobile__icon-1 { transform: rotate(-45deg) translate(-9px, 6px); }
  .main .main__header .change .mobile__icon-2 { opacity: 0; }
  .main .main__header .change .mobile__icon-3 { transform: rotate(45deg) translate(-8px, -8px); }
  .main .main__header .change__menu { width: 100%; background: rgba(0, 0, 0, 0.9); top: 0; right: 0; z-index: 1; }
  .main .main__header .change__menu .nav__list { height: 100vh; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; margin: 0; }
  .main .main__header .change__menu .nav__list .nav__link { display: block; font-size: 1.7rem; margin: 15px; }
  .main .slogan__header { font-size: 2.2rem; }
  .main .slogan__text { font-size: 1.15rem; }
  .about .about__wrapper .about__content { text-align: center; }
  .about .about__wrapper .about__content .about__title--after:after { margin-left: auto; }
  .about .about__wrapper .laptop__wrapper { max-width: none; margin: 20px; }
  .about .about__wrapper .laptop__image { width: 100%; }
  .services .wrapper__element { text-align: center; margin: 20px; }
  .info .info-element__content { font-size: 1rem; }
  .column-header__button, .column-content__button { width: 60%; }
  .quotes .quotes__wrapper { width: 85%; }
  .quotes .quotes__wrapper .quotes--text { font-size: 1.2rem; line-height: 1.4; }
  .quotes .quotes__wrapper .quotes--text::before, .quotes .quotes__wrapper .quotes--text::after { font-size: 3.5rem; }
  .quotes .quotes__icon { font-size: 25px; }
  .quotes .quotes__icon--left { top: 45%; left: 3%; }
  .quotes .quotes__icon--right { top: 46%; right: 3%; }
  .join-us .join-us__wrapper .join-us__slogan { font-size: 1.95rem; }
  .join-us .join-us__wrapper .join-us__button { max-width: 180px; width: 50%; margin-bottom: 25px; }
  .download .download-image__wrapper { position: inherit; margin: 20px; }
  .download .download__image { width: 100%; }
  .download .download__content { margin-top: 30px; padding: 0; text-align: center; }
  .download .download__content .download__title--after:after { margin-left: auto; }
  .footer .footer__content { -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; font-size: 0.85rem; } }

@media (min-width: 768px) and (max-width: 1024px) { .flex-center { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .about .about__wrapper .about__content { text-align: center; }
  .about .about__wrapper .about__content .about__title--after:after { margin-left: auto; }
  .about .about__wrapper .laptop__wrapper { max-width: none; margin: 20px; text-align: center; }
  .about .about__wrapper .laptop__image { width: 80%; }
  .quotes .quotes__icon--right { right: 3%; }
  .quotes .quotes__icon--left { left: 3%; }
  .info .info-wrapper__element { max-width: 340px; }
  .news .container { padding: 5vh 0px; }
  .download .download-image__wrapper { position: inherit; margin: 20px; }
  .download .download__image { width: 100%; }
  .download .download__content { margin-top: 30px; text-align: center; }
  .download .download__content .download__title--after:after { margin-left: auto; }
  .footer .footer__content { -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: center; justify-content: center; font-size: 0.85rem; }
  .download .download__wrapper { -ms-flex-pack: center; justify-content: center; }
  .download .download__content { max-width: unset; }
  .download .download-image__wrapper { text-align: center; }
  .download .download__image { width: 80%; }
  .footer .footer__content { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: distribute; justify-content: space-around; } }

@media (min-width: 1024px) and (max-width: 1224px) { .main .slogan__wrapper { max-width: 700px; }
  .about .about__wrapper .about__content { max-width: 700px; }
  .prices .prices-columns__wrapper { -ms-flex-pack: space-evenly; justify-content: space-evenly; }
  .prices .wrapper__column { min-width: 330px; }
  .info .info__wrapper { -ms-flex-pack: space-evenly; justify-content: space-evenly; }
  .news .news-gallery__wrapper { -ms-flex-pack: space-evenly; justify-content: space-evenly; }
  .download .download__content { max-width: 700px; } }
