@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900|Montserrat:700');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

* {
    box-sizing: border-box;
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);
    }
}

.red--color {
    color: #ed145b;
}

.red--emphasize {
    content: '';
    border: 1px solid #ed145b;
    width: 30%;
    display: block;
    margin: 25px auto 0;
}

.separator {
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
    width: 100%;

    &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ed145b;
        transform-origin: 100% 100%;
        transform: rotate(-1deg);
    }
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

#main {
    width: 100%;
    height: 800px;
    background: url('../images/main.jpg') no-repeat center;
    background-size: cover;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav__header {
            color: #fff;
            font-family: 'Montserrat', sans-serif;

            .nav__header--mark {
                @extend .red--color;
            }
        }

        .nav__list {
            list-style-type: none;
            display: flex;
            font-weight: 700;
            letter-spacing: 1px;

            .nav__item:not(:last-child) {
                margin-right: 10px;
            }

            .nav__item:hover {
                @extend .red--color;
                cursor: pointer;
                transition: 0.6s;
            }
        }
    }

    .main__slogan {
        margin: 60px auto;
        min-height: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .slogan__header {
            font-size: 2.87rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 100;
            align-self: center;

            .slogan__header--mark {
                font-weight: 900;
            }

            &::after {
                @extend .red--emphasize;
            }
        }

        .slogan__content {
            font-size: 1.37rem;
            font-weight: 300;
            margin: 5px;
        }

        .slogan__button {
            background: #ed145b;
            color: #fff;
            padding: 14px 42px;
            margin-top: 60px;
            text-transform: uppercase;
            border: none;
            border-radius: 25px;
            font-weight: bold;
            box-shadow: 0 0 0 0 #ed145b;
            animation: pulse 2.25s infinite cubic-bezier(0.66, 0, 0, 1);

            &:hover {
                cursor: pointer;
                animation: none;
            }

            &:active {
                outline: none;
            }
        }
    }
}

#about {
    min-height: 700px;
    width: 100%;
    background: #f4f4f4;
    position: relative;

    .about__separator {
        @extend .separator;
    }

    .about__macbook {
        width: 55%;
        height: 100%;
        background: url('../images/macbook.png') no-repeat center;
        position: absolute;
        top: 15%;
        right: 0;
    }

    .about__content {
        max-width: 500px;
        min-height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .about__header {
            color: #5a5a5a;
            margin: 0;
            font-size: 3rem;
            font-weight: 300;
            font-style: italic;

            &::after {
                @extend .red--emphasize;
                margin: 25px 25px 25px 0;
                width: 45%;
            }
        }

        .about__text {
            color: #5a5a5a;
            font-weight: 300;
            line-height: 1.8;
        }

        .about__text--mark {
            color: #ed145b;
            text-transform: uppercase;
            font-weight: 400;
        }

        .about__button {
            width: 30px;
            height: 30px;
            margin-left: 10px;
            border: 1px solid;
            @extend .red--color;
            background: inherit;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
            }

            .about__button--icon {
                margin-left: 3px;
            }
        }
    }
}

#services {
    .services__slogan {
        min-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;

        .services__header {
            color: #5a5a5a;
            margin: 0;
            font-size: 3rem;
            font-weight: 300;
            font-style: italic;

            &::after {
                @extend .red--emphasize;
                width: 100%;
                margin: 25px 0;
            }
        }

        .services__text {
            color: #5a5a5a;
            font-weight: 300;
            line-height: 1.8;
            margin-bottom: 80px;
        }
    }

    .services__icons {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 65px;
        text-align: center;

        .icons__content {
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-weight: 400;
            width: 130px;
            height: 130px;
            border: 1px solid #5a5a5a;
            border-radius: 50%;
        }

        .icons__text {
            color: #ed145b;
            text-transform: uppercase;
        }
    }
}